@tailwind base;
@tailwind components;
@tailwind utilities;

.safe-height {
  height: env(safe-area-inset-bottom);
  height: constant(safe-area-inset-bottom);
}
.scroll {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.scroll--fix {
  overscroll-behavior: auto;
}
.scroll--hidden::-webkit-scrollbar {
  display: none;
}
.dialog-touch-container {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.bubble::before {
  border: 16px solid transparent; /* 调整三角形大小 */
  top: 8px; /* 调整垂直位置 */
}

.bottom-menu__indicator {
  width: 100px;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: -50px;
  left: 50%;
  background-color: darkcyan;
  border-radius: 50%;
  border: 6px solid #fff;
  /* border: 6px solid #1d1e22; */
  transform: translateX(-50%);
  /* transition: all 0.4s linear; */
  z-index: 1;
}

.__a {
  animation: __a 0.1s;
}

@keyframes __a {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
